{% extends 'base.html.twig' %}

{% block title %}OBA ¦ Le nouveau jeu de combat tour par tour{% endblock %}

{% block body %}
    <h1>Bienvenue sur le site de OBA</h1>
    <p>Le nouveau jeu de combats est en cours de développement. Tenez vous informé du developpement sur <a href="https://github.com/simcos/OBA">github</a></p>
{% endblock %}
